#Premiere Salve

c.bendenoun@cemifrance.fr,bendenoun,CEMI
didier.meanard@asmx.fr,meanard,asmx
contact@netcosports.com,.,netcosports
mc3logistique@mc3.fr,.,mc3
stephanie@eva.gg,stephanie,eva
contact@emissive.fr,.,emissive
info@gryzz-lab.fr,.,gryzz-lab
isaac@sibureautique.com,Melloul,votre entreprise
contact@zenconnect.fr,.,zenconnect
bonjour@miimosa.com,.,votre groupe
contact@dipeeo.com,.,dipeeo
contact@resadia.com,Journa,resadia
support@campsystems.com,nadeau,votre entreprise
contact@e2time.com,Gerome,votre effectif
contact@vivetic-group.com,.,votre groupe
editeurs@rocketlinks.net,Martin,votre effectif
contact@activis.net,Charpin,DEKUPLE DMC
cedric.palarino@ciele.fr,Cedric,INOVELEC CIELE
contact@externis.com,.,votre entreprise
h.anseur@klekoon.com,Anseur,KLEEKOON

#Deuxieme Salve
formation@ambient-it.net, ,AMBIENT IT
mvatteau@tlmcom.fr,Vatteau,TLM COM
jacinthe.busson@kontestapp.com,Busson,FASTORY
sales@europ-computer.com, ,votre entreprise
severine.jankowski@leades.fr,Jankowski,LEADES
maxime.wei@promattex.com,Wei,votre entreprise
tanguy@eparts.fr,Tanguy,eparts
x.paour@it-logiq.com, ,votre entreprise
benoit@easylamps.fr,Benoit,vos effectifs
info@technema.fr, ,TECHNEMA
kc@technema.fr, ,TECHNEMA
cgambier@infoway.fr,gambier,INFOWAY
contact@dnpphoto.eu, ,vos rangs
administratif@numeritek.fr, ,NUMERITEK
contact@ufp-international.fr, , UFP INTERNATIONAL 
l.narme@valesys.fr, , VALESYS
emploi@azentis.com, , AZENTIS TECHNOLOGY
contact@azentis.com, ,AZENTIS TECHNOLOGY
administration@fsi-winrest.fr, ,vos rangs
france.finance@anixter.wescodist.com, ,votre entreprise
formation@ambient-it.net, ,AMBIENT IT
mvatteau@tlmcom.fr,Mme.Vatteau,TLM COM
jacinthe.busson@kontestapp.com,Mme.Busson,FASTORY
sales@europ-computer.com, ,
severine.jankowski@leades.fr,M.Jankowski,LEADES
maxime.wei@promattex.com,M.Wei,
tanguy@eparts.fr,M.Tanguy,eparts
x.paour@it-logiq.com, ,
benoit@easylamps.fr,M.Benoit,
info@technema.fr, ,TECHNEMA
kc@technema.fr, ,TECHNEMA
cgambier@infoway.fr,M.Gambier,INFOWAY
contact@dnpphoto.eu, ,vos rangs
administratif@numeritek.fr, ,NUMERITEK
contact@ufp-international.fr, , UFP INTERNATIONAL 
l.narme@valesys.fr, , VALESYS
emploi@azentis.com, , AZENTIS TECHNOLOGY
contact@azentis.com, ,AZENTIS TECHNOLOGY
administration@fsi-winrest.fr, ,vos rangs
france.finance@anixter.wescodist.com, ,

#Troisieme Salve

bonjour@greengo.voyage, ,Greengo
infos.fr@intermec.com, , 
adv@saficard.com, ,saficard
kgrich@devea.com,Mme.Grich,devea
nfavand@avanti-technologies.com,M.favand,
info.ltsc@aris.fr, ,
contact@connection.fr, ,CONNECTION
m.costa@costa.fr,M.costa,COSTA SERVICE
lloubieres@xeroboutique93-94.fr,M.Loubieres,
info@capdev.net, ,
hello@capdev.net, , 
contact@cosmosoft.fr, ,
info@timmxware.com, ,timmxware
m.merzougui@master-technologie.com,M.merzougui,Master-technologie
contact@neofi-solutions.com, ,neofi-solutions
info@neofi-solutions.com, ,
info@agwc.fr, ,
info@piservices.fr, ,
contact@bdcom-ing.com, , 

#Quatrième Salve

jbenbihi@adenis.fr, ,ADENIS
contact@nexence.com, ,Nexence
vicent.herman@nexence.com,M.Herman ,Nexence
copwell@copwell.com, ,Copwell
investors@itron.com, ,
pr@itron.com, ,
cs@equinix.com, ,Equinix
changz@imsentreprendre.com, ,
contact.egis-informatique@egis.fr, ,
tremblay@logitax.fr, ,Logitax
delphine@logitax.fr,Mademoiselle ,Logitax
philippe.finkel@wanadoo.fr,M.Finkel,
contact@cantor.fr, ,Cantor 
contact@fracom.fr, ,Fracom
contact@inetum.com, ,Inetum
office.ro@inetum.com, ,Inetum
poland@inetum.com, ,Inetum
cd-fr@comptage-distribution.com, ,
contact@etixway.com, ,ETIX WAY